name: main

on: check_suite
    
jobs:
  job1:
    if:  startsWith( github.event.commits[0].message , 'Version change')
    runs-on: ubuntu-latest
    steps:
      - run: |
         echo $GITHUB_CONTEXT
        env: 
           GITHUB_CONTEXT: ${{ toJson(github) }} 
      - run: |
          echo $msg
          echo $msg1
        env: 
            msg: ${{ github.event.commits[0].message }}
            msg1: ${{ github.event.head_commit.message }}
         
      
