name: matrix

on: push 


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: echo $PATH
      env: 
        GITHUB_CONTEXT: ${{ toJson(github) }} 
    - name: Run a one-line script
      run: echo Hello, world

